# /etc/haproxy/haproxy.cfg
global
    log stdout format raw daemon info
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

{% for frontend in haproxy_frontends %}
frontend {{ frontend.name }}_frontend
    bind *:{{ frontend.bind_port }}
    mode tcp
    option tcplog
    default_backend {{ frontend.backend_name }}_backend

backend {{ frontend.backend_name }}_backend
    mode tcp
    option tcp-check
    balance roundrobin
    default-server {{ frontend.default_server_options }}
{% for host in groups[frontend.backend_group] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:{{ frontend.backend_port }} check
{% endfor %}
{% endfor %}
